In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("data.xlsx")

In [5]:
df

,Item,qty,cost,sale,profit,total_profit,Unnamed: 6,Unnamed: 7
0,Inbounding Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,G Printers,18.0,0.0,0.0,0.0,0.0,NaN,NaN
2,ClearTapes,47.0,90.0,99.0,9.0,0.0,NaN,NaN
3,BrandedTapes,2.0,200.0,220.0,20.0,0.0,NaN,0.0
4,A5 Envelopes,325.0,3.0,3.0,0.0,0.0,NaN,NaN
5,A4 Envelopes,292.0,4.0,4.0,0.0,0.0,NaN,NaN
6,Carton Boxes (Small),54.0,18.0,20.0,2.0,0.0,NaN,NaN
7,Carton Boxes (Medium),72.0,36.0,40.0,4.0,0.0,NaN,NaN
8,Carton Boxes (Large),31.0,66.0,72.0,6.0,0.0,NaN,NaN
9,Plastic Bags (Medium),4203.0,12.0,13.0,1.0,0.0,NaN,NaN
10,90KGS Suck,43.0,25.0,33.0,8.0,0.0,NaN,NaN
11,50KGS Suck,510.0,18.0,25.0,7.0,NaN,NaN,NaN

In [6]:
df.columns

Index(['Item', 'qty', 'cost', 'sale', 'profit', 'total_profit', 'Unnamed: 6',
       'Unnamed: 7'],
      dtype='object')

In [8]:
df = df[['Item', 'qty', 'cost', 'sale', 'profit']]

In [9]:
df

                     Item     qty   cost   sale  profit
0         Inbounding Date     NaN    NaN    NaN     NaN
1              G Printers    18.0    0.0    0.0     0.0
2             ClearTapes    47.0   90.0   99.0     9.0
3           BrandedTapes     2.0  200.0  220.0    20.0
4            A5 Envelopes   325.0    3.0    3.0     0.0
5            A4 Envelopes   292.0    4.0    4.0     0.0
6    Carton Boxes (Small)    54.0   18.0   20.0     2.0
7   Carton Boxes (Medium)    72.0   36.0   40.0     4.0
8    Carton Boxes (Large)    31.0   66.0   72.0     6.0
9   Plastic Bags (Medium)  4203.0   12.0   13.0     1.0
10             90KGS Suck    43.0   25.0   33.0     8.0
11             50KGS Suck   510.0   18.0   25.0     7.0

In [12]:
df['qty'] = pd.to_numeric(df['qty'], errors='coerce')

C:\Users\bency\AppData\Local\Temp\ipykernel_13992\1406386376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['qty'] = pd.to_numeric(df['qty'], errors='coerce')

In [10]:
df['totat_profit'] = df['profit']*df['qty']

C:\Users\bency\AppData\Local\Temp\ipykernel_13992\170216046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['totat_profit'] = df['profit']*df['qty']

In [13]:
df

                     Item     qty   cost   sale  profit  totat_profit
0         Inbounding Date     NaN    NaN    NaN     NaN           NaN
1              G Printers    18.0    0.0    0.0     0.0           0.0
2             ClearTapes    47.0   90.0   99.0     9.0         423.0
3           BrandedTapes     2.0  200.0  220.0    20.0          40.0
4            A5 Envelopes   325.0    3.0    3.0     0.0           0.0
5            A4 Envelopes   292.0    4.0    4.0     0.0           0.0
6    Carton Boxes (Small)    54.0   18.0   20.0     2.0         108.0
7   Carton Boxes (Medium)    72.0   36.0   40.0     4.0         288.0
8    Carton Boxes (Large)    31.0   66.0   72.0     6.0         186.0
9   Plastic Bags (Medium)  4203.0   12.0   13.0     1.0        4203.0
10             90KGS Suck    43.0   25.0   33.0     8.0         344.0
11             50KGS Suck   510.0   18.0   25.0     7.0        3570.0